/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: IBM Plex Mono;
  --text-paragraph: #f1b2ce;
  --title-paragraph: #000028;
  --title-background-paragraph: #ff0070;
  --main-title-paragraph: #ff0070;
  --main-title: #db00ff;
  --shadow-title: #ff0070;
  --buttons-corner: #ff0070;
  --bg-image-head: url(../images/cover-image-dark.png);
  --hover-button: rgba(255, 0, 112, 0.4);
}

.theme-dark .page {
  
/* Вам также нужно будет написать ряд подобных селекторов */
}