/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: IBM Plex Mono;
  --text-paragraph: #353430;
  --title-paragraph: #353430;
  --title-background-paragraph: #ff8dcb;
  --main-title-paragraph: #353430;
  --main-title: #ffc2e6;
  --shadow-title: #ff8dcb;
  --buttons-corner: #353430;
  --link-shadow: #ff8dcb;
  --bg-image-head: url(../images/cover-image-light.png);
}
.page {
  background-image: var(--bg-image-head);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--first-title-color);
  /* border: 0.5px solid red; */
}
.header__theme-menu-item {
  color: var(--bg-color);
}
.decorated-zone::before {
  color: var(--bg-color);
}
.decorated-zone::after {
  color: var(--bg-color);
}
.theme-light .page {
  .rec {
    visibility: hidden;
  }
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --main-font: IBM Plex Mono;
    --text-paragraph: #353430;
    --title-paragraph: #353430;
    --title-background-paragraph: #ff8dcb;
    --main-title-paragraph: #353430;
    --main-title: #ffc2e6;
    --shadow-title: #ff8dcb;
    --buttons-corner: #353430;
    --link-shadow: #ff8dcb;
    --bg-image-head: url(../images/cover-image-light.png);
  }
  .rec {
    visibility: hidden;
  }
}
