/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-font: IBM Plex Mono;
  --text-paragraph: #353430;
  --title-paragraph: #353430;
  --title-background-paragraph: #ff8dcb;
  --main-title-paragraph: #353430;
  --main-title: #ffc2e6;
  --shadow-title: #ff8dcb;
  --buttons-corner: #353430;
  --link-shadow: #ff8dcb;
  --bg-image-head: url(../images/cover-image-light.png);
  --hover-button: rgba(53, 52, 48, 0.4);
}
/* .page {
  background-image: var(--bg-image-head);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--first-title-color);
} */
.theme-light .page .rec {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --main-font: IBM Plex Mono;
    --text-paragraph: #353430;
    --title-paragraph: #353430;
    --title-background-paragraph: #ff8dcb;
    --main-title-paragraph: #353430;
    --main-title: #ffc2e6;
    --shadow-title: #ff8dcb;
    --buttons-corner: #353430;
    --link-shadow: #ff8dcb;
    --bg-image-head: url(../images/cover-image-light.png);
    --hover-button: rgba(53, 52, 48, 0.4);
  }
  :root.theme-auto .page .rec {
    visibility: hidden;
  }
}
