/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex Mono";
  --text-paragraph: #f1b2ce;
  --title-paragraph: #000028;
  --title-background-paragraph: #ff0070;
  --main-title-paragraph: #ff0070;
  --main-title: #db00ff;
  --shadow-title: #ff0070;
  --buttons-corner: #ff0070;
  --bg-image-head: url(../images/cover-image-dark.png);
}
